<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
</head>
<body>
    <center>
        <h2>Inicio de Sesion</h2>
        <form action="">
            <label for="">Correo</label>
            <input type="email" placeholder="correo registrado" required>
            <br>
            <label for="">Contraseña</label>
            <input type="password" required>
            <br>
            <button>Iniciar Sesion</button>
            <br>
            ¿Aun no te has resgistrado? <a href="./registroUsuario.html">Registrate</a>
        </form>
        <button onclick="window.location='../main.html'">Home</button>
        
    </center>
    
</body>
</html>