<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <center>
        <h2>Registro de Usuario</h2>
        <form action="">
            <label for="">Nombre</label>
            <input type="text" placeholder="Ingrese su nombre" required>
            <br>
            <label for="">Segundo nombre</label>
            <input type="text" placeholder="Ingrese segundo nombre (Opcional)">
            <br>
            <label for="">Apellido</label>
            <input type="text" placeholder=  'Ingrese su primer apellido' required>
            <br>
            <label for="">email</label>
            <input type="email" placeholder="Ingrese su correo" required>
            <br>
            <label for="">Cree una contraseña</label>
            <input type="password" required>
            <br>
            <label for="">Confirmar contraseña</label>
            <input type="password" required>
            <br>
            <label for="">Fecha de nacimiento</label>
            <input type="date" required>
            <br>
            <input type="checkbox" required>
            <a href="https://cache.dominos.com/olo/6_53_4/assets/build/market/PE/_en/pdf/national_menu.pdf">Acepto el tratamiento de datos personales</a>
            <br>
            <button>Enviar</button>
            <br>
            <p>¿Ya tienes una cuenta? <a href="./inicioSesion.html">Inicia Sesion</a></p>

            
        </form>
    </center>
</body>
</html>